.content{
    border: 0px solid black;
    padding: 45px;
    position: relative;top: 200px;
}
h1{
    font-size: 60px;
}
.button{
    border: 1px solid black;
    background-color:coral;
    width: 12%;
    height: 25px;
    padding-top: 10px;
    position: relative;
    border-radius: 10px;
    border-color:chocolate;right: 100px;: 
}
.button1{
    border: 1px solid black;
    background-color:coral;
    width: 12%;
    height: 25px;
    padding-top: 10px;
    position: relative;
    border-radius: 10px;
    left:185px;
    top:-37px;
    border-color:chocolate;
    left: 100px;
}
.button:hover{
    background-color: blue;
}
.button:visited{
    background-color: burlywood;
}
.button1:hover{
    background-color: blue;
}
.img{
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.2);
}
.cla:hover{
    text-decoration: none;
}